<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/e6ee6d7209.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EraCourse</title>
</head>
<body>
    <div class = "grid-container">
        <header class="row">
            <div>
                <a class = 'brand' href="index.html">EraCourse</a>
            </div>

            <div>
                <a href="cart.html">Cart</a>
                <a href="Sign in ">Sign in </a>
            </div>
        </header>

        <main>
           <div class = 'wrapper'>
               <div class="card">
                   <a href="product.html">
                       <img class ='medium' src="images/download.jpeg" alt="404">
                   </a>
                   <div class="card-body">
                       <a href="product.html">
                           <h2>Full Stack Development</h2>
                       </a>
                       <div class="rating">
                           <span><i class="fa fa-star"></i></span>
                           <span><i class="fa fa-star"></i></span>
                           <span><i class="fa fa-star"></i></span>
                           <span><i class="fa fa-star-o"></i></span>
                           <span><i class="fa fa-star-o"></i></span>
                       </div>
                       <div class="price">
                           $13.99
                       </div>
                   </div>
               </div>
               <div class="card">
                <a href="product.html">
                    <img class ='medium' src="images/download.jpeg" alt="404">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Full Stack Development</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star-half"></i></span>
                    </div>
                    <div class="price">
                        $13.99
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html">
                    <img class ='medium' src="images/download.jpeg" alt="404">
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Full Stack Development</h2>
                    </a>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star-half"></i></span>
                        <span><i class="fa fa-star-0"></i></span>
                    </div>
                    <div class="price">
                        $13.99
                    </div>
                </div>
            </div>
           </div>
        </main>

        <footer class = 'row center'>
            All rights reserved
        </footer>
    </div>
</body>
</html>